{% extends "base.html" %}
{% block title %}Assistants Create{% endblock %}
{% block content %}
<div class="mb-3">
  <h1>Create an assistant</h1>
</div>
<form action="#" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="username">Username</label>
    <input required type="text" class="form-control" name="username" id="username" placeholder="Assistants username">
  </div>

  <div class="form-group">
    <label for="firstName">First name</label>
    <input required type="text" class="form-control" name="firstName" id="firstName" placeholder="Assistants first name">
  </div>

  <div class="form-group">
    <label for="lastName">Last name</label>
    <input required type="text" class="form-control" name="lastName" id="lastName" placeholder="Assistants last name">
  </div>

  <h5>Upload assistants profile picture</h5>

  <div class="form-check">
    <input checked class="form-check-input" type="radio" name="photo" id="photo" value="ownPhoto">
    <label class="form-check-label" for="photo">
      <input type="file" name="picture" class="form-control-file" id="profilePicture" name="profilePicture">
    </label>
  </div>

  <div class="form-check mt-3">
    <input class="form-check-input" type="radio" name="photo" id="photo" value="generatedPhoto">
    <label class="form-check-label" for="photo">
      <button type="button" class="btn btn-secondary disabled" id="generateButton">Generate one for me</button>
      <div class="mt-3" id="image" name="profilePicture">
        <img src="/static/avatar_temporary.jpg" alt="photo" width="25%" height="25%">
      </div>
    </label>
  </div>

  <h5>Choose assistants profession:</h5>
  {% for title in jobs %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="professions" id="radio" value="{{ title }}" checked>
      <label class="form-check-label" for="radio">
        {{ title }}
      </label>
    </div>
  {% endfor %}
  <button type="submit" value="submit" class="btn btn-primary mt-3">Create assistant</button>
</form>

{% endblock %}